<div class="mt-4">
    <div class="row">
        {{#each courses}}
         <div class="col-sm-6 col-lg-4 ">
            <a href="/cart/{{this.slug}}">
              <div class="card card-course-item" style="width: 18rem;">
             <img src={{this.img}} class="card-img-top" >
            <div class="card-body">
            </a>
              <a href="/cart/{{this.slug}}">
                <h5 class="card-title">{{this.name}}</h5>
              </a>
            <p class="card-text">{{this.description}}</p>
             <a href="#" class="btn btn-primary">Search</a>
        </div>
        </div>
        </div>
        {{/each}}
    </div>
</div>